body,
html,
#app {
    padding: 0;
    margin: 0;
    background: rgb(43, 43, 43);
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav {
    padding: 10pt;
    background-color: rgb(240, 92, 7);
}

#body {
    padding: 12pt;
    width: 600pt;
    margin: 0 auto;
}

#code {
    margin: 10pt;
    padding: 5pt;
    background-color: black;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    width: 200pt;
    height: 50pt;
    font-size: 14pt;
    border: 1pt solid black;
    border-radius: 3pt;
}

#code:focus {
    outline: none !important;
    border: 1pt solid orangered;
}

a {
    text-decoration: none;
    color: orangered;
}

a:hover {
    opacity: 0.5;
    transition: 0.2s;
}